<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Letter Prediction App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

    <h1> <div style="text-align:center" >Letter Prediction App</div></h1>
    <hr>
    <br>
    <h1> <div style="text-align:center" >Please enter the required values Correctly</div></h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form  method="POST" action="/predict">
                <div class="form_group">
                    <label for=" x_box"><p class="font-weight-bold">X-BOX Attribure</p></label>
                    <input type="string" name="x_box">
                    <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                </div>
                <div class="form_group">
                        <label for=" ybox"><p class="font-weight-bold">Y-BOX Attribure</p></label>
                        <input type="string" name="ybox">
                        <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                    </div>
                    <div class="form_group">
                            <label for=" width"><p class="font-weight-bold">WIDTH Attribure</p></label>
                            <input type="string" name="width">
                            <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                        </div>
                        <div class="form_group">
                                <label for="high"><p class="font-weight-bold">HIGH Attribure</p></label>
                                <input type="string" name="high">
                                <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                            </div>
                            <div class="form_group">
                                    <label for=" onpix"><p class="font-weight-bold">ONPIX Attribure</p></label>
                                    <input type="string" name="onpix">
                                    <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                </div>
                                <div class="form_group">
                                        <label for="x_bar"><p class="font-weight-bold">X-BAR Attribure</p></label>
                                        <input type="string" name="x_bar">
                                        <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                    </div>
                                    <div class="form_group">
                                            <label for=" y_bar"><p class="font-weight-bold">Y-BAR Attribure</p></label>
                                            <input type="string"name="y_bar">
                                            <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                        </div>
                                        <div class="form_group">
                                                <label for=" x2bar"><p class="font-weight-bold">X2 BAR Attribure</p></label>
                                                <input type="string" name="x2bar">
                                                <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                            </div>
                                            <div class="form_group">
                                                    <label for=" y2bar"><p class="font-weight-bold">Y2 BAR Attribure</p></label>
                                                    <input type="string" name="y2bar">
                                                    <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                                </div>
                                                <div class="form_group">
                                                        <label for=" xybar"><p class="font-weight-bold">xybar Attribure</p></label>
                                                        <input type="string" name="xybar">
                                                        <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                                    </div>
                                                    <div class="form_group">
                                                            <label for=" x2ybr"><p class="font-weight-bold">x2ybr Attribure</p></label>
                                                            <input type="string" name="x2ybr">
                                                            <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                                        </div>
                                                        <div class="form_group">
                                                                <label for=" x_ege"><p class="font-weight-bold">x-egeAttribure</p></label>
                                                                <input type="string" name="x_ege">
                                                                <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                                            </div>
                                                            <div class="form_group">
                                                                    <label for=" xegvy"><p class="font-weight-bold">xegvy Attribure</p></label>
                                                                    <input type="string" name="xegvy">
                                                                    <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                                                </div>
                                                                <div class="form_group">
                                                                        <label for=" y_ege"><p class="font-weight-bold">y-ege Attribure</p></label>
                                                                        <input type="string" name="y_ege">
                                                                        <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                                                    </div>
                                                                    <div class="form_group">
                                                                            <label for=" yegvx"><p class="font-weight-bold">yegvx Attribure</p></label>
                                                                            <input type="string" name="yegvx">
                                                                            <small id="NYHelp" class="form-string-muted"> Enter the value form  0 to 1</small>
                                                                        </div>
            <input class=" btn btn-primary" type="submit" value="Submit">
                                                                      
            </form>
            </div>
        </div>
    </div>








</body>
</html>